<main class="max-w-4xl mx-auto px-6 py-10">
  <div class="bg-white rounded-2xl p-8 space-y-5 shadow-xl ">

    <%= link_to root_path do %>
      <button class="inline-flex items-center justify-center gap-2 text-sm font-medium transition-colors shadow h-9 py-2 bg-[#FF6C1E] text-white rounded-2xl px-4 hover:bg-orange-600 my-3">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
        </svg>
      </button>
    <% end %>

    <h2 class="text-2xl font-semibold text-[#144B7F] mb-4">Actualizar perfil</h2>

    <%= form_with model: @user, url: profile_path, method: :patch do |form| %>
      <div class="grid grid-cols-1 gap-5">
        <div>
          <%= form.label :last_name, 'Apellido', class: 'block text-sm font-medium mb-1' %>
          <%= form.text_field :last_name, class: 'w-full p-2 rounded border border-gray-300' %>
        </div>

        <div>
          <%= form.label :first_name, 'Nombre', class: 'block text-sm font-medium mb-1' %>
          <%= form.text_field :first_name, class: 'w-full p-2 rounded border border-gray-300' %>
        </div>

        <div>
          <%= form.label :phone, 'Teléfono', class: 'block text-sm font-medium mb-1' %>
          <%= form.telephone_field :phone, class: 'w-full p-2 rounded border border-gray-300' %>
        </div>

        <% if !Current.user.employee? %>
          <div>
            <%= form.label :dob, 'Fecha de nacimiento', class: 'block text-sm font-medium mb-1' %>
            <%= form.date_field :dob, class: 'w-full p-2 rounded border border-gray-300' %>
          </div>

          <div>
            <%= form.label :gender, 'Género', class: 'block text-sm font-medium mb-1' %>
            <%
              select_options = Customer
                .genders
                .keys
                .map { |type| [enum_t(type, key: :gender).capitalize, type] }
            %>
            <%= form.select(:gender, select_options, {}, class: 'w-full p-2 rounded border border-gray-300') %>
          </div>
        <% end %>

        <div>
          <%= form.submit 'Guardar cambios', class: 'text-sm font-medium transition-colors shadow h-9 bg-[#FF6C1E] text-white hover:bg-[#e55d14] rounded-2xl px-6' %>
        </div>
      </div>
    <% end %>
  </div>
</main>
