<div class="grid grid-cols-1 gap-5">
  <div>
    <%= form.label :last_name, 'Apellido', class: 'block text-sm font-medium mb-1' %>
    <%= form.text_field :last_name, class: 'w-full p-2 rounded border border-gray-300' %>
  </div>

  <div>
    <%= form.label :first_name, 'Nombre', class: 'block text-sm font-medium mb-1' %>
    <%= form.text_field :first_name, class: 'w-full p-2 rounded border border-gray-300' %>
  </div>

  <div>
    <%= form.label :phone, 'Teléfono', class: 'block text-sm font-medium mb-1' %>
    <%= form.telephone_field :phone, class: 'w-full p-2 rounded border border-gray-300' %>
  </div>

  <div>
    <%= form.label :dni, 'DNI (sin puntos)', class: 'block text-sm font-medium mb-1' %>
    <%= form.text_field :dni, class: 'w-full p-2 rounded border border-gray-300' %>
  </div>

  <div>
    <%= form.label :email_address, 'Email', class: 'block text-sm font-medium mb-1' %>
    <%= form.email_field :email_address, class: 'w-full p-2 rounded border border-gray-300' %>
  </div>

  <div>
    <%= form.label :password, 'Contraseña', class: 'block text-sm font-medium mb-1' %>
    <%= form.password_field :password, class: 'w-full p-2 rounded border border-gray-300' %>
  </div>

  <div>
    <%= form.label :password_confirmation, 'Confirmar contraseña', class: 'block text-sm font-medium mb-1' %>
    <%= form.password_field :password_confirmation, class: 'w-full p-2 rounded border border-gray-300' %>
  </div>

  <div>
    <%= form.submit 'Guardar', class: 'text-sm font-medium transition-colors shadow h-9 bg-[#FF6C1E] text-white hover:bg-[#e55d14] rounded-xl px-6' %>
  </div>
</div>
