<div>
  <%= form.label :last_name, 'Apellido', class: 'block text-sm font-medium mb-1' %>
  <%= form.text_field :last_name, class: 'w-full p-2 rounded border border-gray-300' %>
</div>

<div>
  <%= form.label :first_name, 'Nombre', class: 'block text-sm font-medium mb-1' %>
  <%= form.text_field :first_name, class: 'w-full p-2 rounded border border-gray-300' %>
</div>

<div>
  <%= form.label :phone, 'Teléfono', class: 'block text-sm font-medium mb-1' %>
  <%= form.telephone_field :phone, class: 'w-full p-2 rounded border border-gray-300' %>
</div>

<div>
  <%= form.label :dni, 'DNI (sin puntos)', class: 'block text-sm font-medium mb-1' %>
  <%= form.text_field :dni, class: 'w-full p-2 rounded border border-gray-300' %>
</div>

<div>
  <%= form.label :email_address, 'Email', class: 'block text-sm font-medium mb-1' %>
  <%= form.email_field :email_address, class: 'w-full p-2 rounded border border-gray-300' %>
</div>
