<%= render 'searchbar', url: living_properties_path %>

<% if @properties.empty? %>
  <div class="w-full text-center">
    No se encontraron viviendas
  </div>
<% end %>

<main class="grid grid-cols-1 md:grid-cols-3 gap-6 px-6 pb-12 max-w-6xl mx-auto">
  <% @properties.each do |property| %>
    <div class="rounded-2xl shadow bg-white overflow-hidden">
      <%= link_to property do %>
        <%= image_tag rails_blob_path(property.pictures.first, disposition: "attachment"), class: 'w-full object-cover h-48' %>
      <% end %>

      <div class="p-4">
        <h2 class="text-xl font-semibold text-[#144B7F]"><%= property.name %></h2>
        <p class="text-sm text-gray-600">
          <%= property.city %>
        </p>
        <p class="text-sm text-gray-600">
          <%= enum_t(property.living_property_type, key: :living_property).capitalize %>
          de
          <%= property.bedrooms %>
          <%= t('misc.bedrooms', count: property.bedrooms) %>
        </p>
        <p class="text-sm text-gray-600">
          Lugar para
          <%= property.guest_capacity %>
          <%= 'persona'.pluralize(property.guest_capacity) %>
        </p>
        <p class="mt-2 text-[#FF6C1E] font-bold">
          <%= number_to_currency property.price %> por noche
        </p>
      </div>
    </div>
  <% end %>
</main>
