<main class="max-w-4xl mx-auto px-6 py-10">

  <%
    back_path = if @rental.requested?
      admin_rentals_path(requested: true)
    else
      admin_rentals_path
    end
  %>
  <%= link_to back_path do %>
    <button class="inline-flex items-center justify-center gap-2 text-sm font-medium transition-colors shadow h-9 py-2 bg-[#FF6C1E] text-white rounded-2xl px-4 hover:bg-orange-600 my-3">
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
      </svg>
    </button>
  <% end %>

  <div class="rounded-2xl shadow bg-white overflow-hidden" style="opacity: 1; transform: none;">

    <div class="p-6 space-y-8">
      <div class="space-y-2">
        <% if @rental.maintenance? %>
          <%= render 'maintenance_rental_details', rental: @rental %>
        <% else %>
          <%= render 'rental_details', rental: @rental %>
        <% end %>
      </div>

      <% if @rental.property.must_have_guests? %>
        <div>
          <h3 class="text-xl font-semibold text-[#144B7F]">Huéspedes</h3>
          <ul class="divide-y divide-gray-200 mt-4">
            <li class="py-3">
              <div class="text-sm text-[#333]">
                <p><strong><%= @rental.owner.first_name %> <%= @rental.owner.last_name %></strong></p>
                <p class="text-[#666]">DNI: <%= @rental.owner.dni %></p>
                <p class="text-[#666]">F.d.n.: <%=l @rental.owner.dob, format: :long %></p>
              </div>
            </li>
            <% @rental.users.each do |user| %>
              <li class="py-3">
                <div class="text-sm text-[#333]">
                  <p><strong><%= user.first_name %> <%= user.last_name %></strong></p>
                  <p class="text-[#666]">DNI: <%= user.dni %></p>
                  <p class="text-[#666]">F.d.n.: <%=l user.dob, format: :long %></p>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @rental.requested? %>
        <%= tag.div(flash[:error], style: "color:red") if flash[:error] %>

        <%= button_to "Aceptar solicitud de reserva", accept_admin_rental_path(@rental), method: :patch, class: "inline-flex items-center justify-center gap-2 text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 [&amp;_svg]:size-4 shadow h-10 py-2 bg-[#FF6C1E] text-white rounded-xl px-6 hover:bg-orange-600" %>
      <% elsif @rental.paid? %>
        <%= button_to "Iniciar reserva", confirm_start_admin_rental_path(@rental), method: :get, class: "inline-flex items-center justify-center gap-2 text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 [&amp;_svg]:size-4 shadow h-10 py-2 bg-[#FF6C1E] text-white rounded-xl px-6 hover:bg-orange-600" %>
      <% end %>
    </div>
  </div>

</main>
