<main class="max-w-4xl mx-auto px-6 py-10">
  <div class="rounded-2xl shadow bg-white overflow-hidden" style="opacity: 1; transform: none;">

    <div class="p-6 space-y-8">
      <div class="space-y-2">
        <h2 class="text-3xl font-bold text-[#144B7F] mb-5">
          Detalles de reserva #<%= @rental.id %>
        </h2>
        <p class="font-medium text-[#333]">
          <%= link_to @rental.property.name, living_property_path(@rental.property) %>
        </p>
        <p class="text-[#666]">
          Checkin:
          <span class="font-medium text-[#333]">
            <%=l @rental.start.to_date, format: :day %>
          </span>
        </p>

        <p class="text-[#666]">
          Checkout:
          <span class="font-medium text-[#333]">
            <%=l @rental.end.to_date, format: :day %>
          </span>
        </p>

        <p class="text-lg font-semibold text-[#FF6C1E]">Total: <%= number_to_currency @rental.total_cost %></p>
      </div>

      <div>
        <h3 class="text-xl font-semibold text-[#144B7F]">Huéspedes</h3>
        <ul class="divide-y divide-gray-200 mt-4">
          <% @rental.users.each do |user| %>
            <li class="py-3">
              <div class="text-sm text-[#333]">
                <p><strong><%= user.first_name %> <%= user.last_name %></strong></p>
                <p class="text-[#666]">DNI: <%= user.dni %></p>
                <p class="text-[#666]">F.d.n.: <%=l user.dob, format: :long %></p>
              </div>
            </li>
            <% end %>
          <li class="py-3">
            <div class="text-sm text-[#333]">
              <p><strong>Jane Smith</strong></p>
              <p class="text-[#666]">Email: jane@example.com</p>
              <p class="text-[#666]">DOB: 1992-05-14</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
