<main class="max-w-4xl mx-auto px-6 py-10">
  <div class="bg-white rounded-2xl p-8 space-y-5 shadow-xl ">
    <h2 class="text-2xl font-semibold text-[#144B7F] mb-4">Reservar para mantenimiento</h2>

    <% if error = @rental.errors[:base].first %>
      <%= tag.div(error, style: "color:red") %>
    <% end %>

    <%= form_with model: @rental, url: admin_maintenance_rentals_path do |form| %>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label class="block text-sm font-medium mb-1">Propiedad</label>
          <p class="font-bold h-9"><%= @rental.property.name %></p>
          <%= form.hidden_field :property_id, value: @rental.property_id %>
        </div>
        <div>
          <label class="block text-sm font-medium mb-1">Reservado por</label>
          <p class="font-bold h-9"><%= Current.user.full_name %></p>
          <%= form.hidden_field :owner_id, value: Current.user.id %>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mt-6">
        <div>
          <%= form.label :start, 'Fecha de checkin', class: 'block text-sm font-medium mb-1' %>
          <% if @rental.property.is_a? Garage %>
            <%=
              form.datetime_field(
                :start,
                step: 3600,
                min: Time.current.beginning_of_hour + 1.hour,
                class: 'w-full p-2 rounded border border-gray-300',
              )
            %>
          <% else %>
            <%= form.date_field :start, class: 'w-full p-2 rounded border border-gray-300' %>
          <% end %>
        </div>
        <div>
          <%= form.label :end, 'Fecha de checkout', class: 'block text-sm font-medium mb-1' %>
          <% if @rental.property.is_a? Garage %>
            <%=
              form.datetime_field(
                :end,
                step: 3600,
                min: Time.current.beginning_of_hour + 2.hours,
                class: 'w-full p-2 rounded border border-gray-300'
              )
            %>
          <% else %>
            <%= form.date_field :end, class: 'w-full p-2 rounded border border-gray-300' %>
          <% end %>

        </div>
      </div>

      <div class="mt-5 space-x-5">
        <%= form.submit 'Guardar', class: 'text-sm font-medium transition-colors shadow h-9 bg-[#FF6C1E] text-white hover:bg-[#e55d14] rounded-xl px-6' %>

        <%= link_to "Cancelar", :back, class: "text-sm font-medium transition-colors shadow bg-gray-200 text-[#333] hover:bg-gray-300 rounded-xl px-6 py-[10px]" %>
      </div>
    <% end %>
  </div>
</main>
