<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Alquiler Express" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%# Tailwind %>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/favicon3.svg" type="image/svg+xml">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-turbo="false">
    <%= render "shared/flash" %>

    <div class="min-h-screen bg-[#F5F5F5] text-[#333]">
      <header class="flex justify-between items-center px-6 py-4 bg-white shadow">
        <%= link_to root_path do %>
          <div class="flex items-center gap-4">
            <img src="/alquiler-express-no-background-bigger.png" alt="Alquiler Express Logo" class="h-10">
            <h1 class="text-2xl font-bold text-[#144B7F]">Alquiler Express</h1>
          </div>
        <% end %>
        <div class="flex gap-4">
          <% if !Current.user&.admin? %>
            <%= link_to living_properties_path, class: 'flex items-center gap-2 text-sm font-medium transition-colors bg-white text-[#144B7F] hover:text-[#3B6FA0] px-6 py-2' do %>
              <%= render 'svgs/living_property' %>
              Viviendas
            <% end %>

            <%= link_to commercial_properties_path, class: 'flex items-center gap-2 text-sm font-medium transition-colors bg-white text-[#144B7F] hover:text-[#3B6FA0] px-6 py-2' do %>
              <%= render 'svgs/commercial_space' %>
              Locales
            <% end %>

            <%= link_to garages_path, class: 'flex items-center gap-2 text-sm font-medium transition-colors bg-white text-[#144B7F] hover:text-[#3B6FA0] px-6 py-2' do %>
              <%= render 'svgs/garage' %>
              Cocheras
            <% end %>
          <% end %>

          <% if Current.user.present? %>
            <% if !Current.user&.admin? %>
              <%= link_to 'Mi Perfil', profile_path, class: 'text-sm font-medium transition-colors bg-white text-[#144B7F] hover:text-[#3B6FA0] px-6 py-2' %>
            <% end %>
            <% if Current.user.employee? %>
              <%= link_to 'Reservas', admin_rentals_path, class: 'text-sm font-medium transition-colors bg-white text-[#144B7F] hover:text-[#3B6FA0] px-6 py-2' %>
              <%= link_to 'Solicitudes', admin_rentals_path(requested: true), class: 'text-sm font-medium transition-colors bg-white text-[#144B7F] hover:text-[#3B6FA0] px-6 py-2' %>
            <% elsif Current.user.customer? %>
              <%= link_to 'Mis reservas', rentals_path, class: 'text-sm font-medium transition-colors bg-white text-[#144B7F] hover:text-[#3B6FA0] px-6 py-2' %>
            <% end %>

            <%= button_to 'Cerrar sesión', session_path, method: :delete, class: 'text-sm font-medium transition-colors shadow bg-[#144B7F] text-white hover:bg-[#3B6FA0] rounded-xl px-6 py-2' %>
          <% else %>
            <%= link_to 'Iniciar sesión', new_session_path, class: 'text-sm font-medium transition-colors shadow bg-[#144B7F] text-white hover:bg-[#3B6FA0] rounded-xl px-6 py-2' %>
            <%= link_to 'Registrarse', new_registration_path, class: 'text-sm font-medium transition-colors shadow bg-[#144B7F] text-white hover:bg-[#3B6FA0] rounded-xl px-6 py-2' %>
          <% end %>
        </div>
      </header>

      <% if Current.user&.admin? %>
        <nav class="bg-white shadow-sm px-6 py-3 flex gap-4 justify-center">
          <%= link_to 'Administrar Viviendas', admin_living_properties_path, class: 'font-medium flex items-center gap-2 px-4 py-2 rounded-full text-[#144B7F] hover:bg-[#EFF6FB] transition' %>

          <%= link_to 'Administrar Locales', admin_commercial_properties_path, class: 'font-medium flex items-center gap-2 px-4 py-2 rounded-full text-[#144B7F] hover:bg-[#EFF6FB] transition' %>

          <%= link_to 'Administrar Cocheras', admin_garages_path, class: 'font-medium flex items-center gap-2 px-4 py-2 rounded-full text-[#144B7F] hover:bg-[#EFF6FB] transition' %>

          <%= link_to 'Administrar Empleados', admin_employees_path, class: 'font-medium flex items-center gap-2 px-4 py-2 rounded-full text-[#144B7F] hover:bg-[#EFF6FB] transition' %>
        </nav>
      <% end %>


      <%= yield %>
    </div>
  </body>
</html>
