<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Alquiler Express" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%# Tailwind %>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/favicon3.svg" type="image/svg+xml">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-turbo="false">
    <div class="min-h-screen bg-[#F5F5F5] text-[#333]">
      <header class="flex justify-between items-center px-6 py-4 bg-white shadow">
        <div class="flex items-center gap-4">
          <img src="/alquiler-express-no-background.png" alt="Alquiler Express Logo" class="h-10">
          <h1 class="text-2xl font-bold text-[#144B7F]">Alquiler Express</h1>
        </div>
        <button class="text-sm font-medium transition-colors shadow h-9 bg-[#144B7F] text-white hover:bg-[#3B6FA0] rounded-2xl px-6">Iniciar sesión</button>
      </header>

      <%= yield %>
    </div>
  </body>
</html>
